<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Foggyline_HappyHour>
            <version>1.0.0.0</version>
        </Foggyline_HappyHour>
    </modules>
    <global>
        <models>
            <foggyline_happyhour>
                <class>Foggyline_HappyHour_Model</class>
                <resourceModel>foggyline_happyhour_resource</resourceModel>
            </foggyline_happyhour>
            <foggyline_happyhour_resource>
                <class>Foggyline_HappyHour_Model_Resource</class>
                <entities>
                    <user>
                        <table>foggyline_happyhour_user</table>
                    </user>
                </entities>
            </foggyline_happyhour_resource>
        </models>
        <resources>
            <foggyline_happyhour_setup>
                <setup>
                    <module>Foggyline_HappyHour</module>
                </setup>               
            </foggyline_happyhour_setup>
        </resources>
        <blocks>
            <foggyline_happyhour>
                <class>Foggyline_HappyHour_Block</class>
            </foggyline_happyhour>
        </blocks>
        <helpers>
            <foggyline_happyhour>
                <class>Foggyline_HappyHour_Helper</class>
            </foggyline_happyhour>
        </helpers>        
    </global>
    <frontend>
        <routers>
            <foggyline_happyhour>
                <use>standard</use>
                <args>
                    <module>Foggyline_HappyHour</module>
                    <frontName>happyhour</frontName>
                </args>
            </foggyline_happyhour>
        </routers>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <foggyline_happyhour_intercept>
                        <class>foggyline_happyhour/observer</class>
                        <method>intercept</method>
                    </foggyline_happyhour_intercept>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <foggyline_happyhour_ordersToFulfilment>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>                
                <run>
                    <model>foggyline_happyhour/service::ping</model>
                </run>
            </foggyline_happyhour_ordersToFulfilment>
        </jobs>
    </crontab>
    <default>
        <foggyline_happyhour>
            <settings>
                <custom_message><![CDATA[Hello World]]></custom_message>
            </settings>
        </foggyline_happyhour>
    </default>
</config>